<div class="test">
    <div class="container">
        <article class="row">
            <div class="col-12 col-md-6 textCage mb-3">
                <h1>Cristian Lafuente Full Stack Junior</h1>

                <p class="pt-4">Si me permitís presentarme mi nombre es Cristian Lafuente Martínez y soy diseñador Full
                    Stack Junior. Comencé mi
                    formación como desarrollador web
                    en ID Digital School con el bootcamp de ID bootcamps Programación y desarrollo web Full Stack donde
                    me formé en
                    desarrollo front-end y back-end. Adquirí de esta manera el perfil de un Full Stack, me instruí en
                    las siguientes
                    herramientas de este apasionante mundo: HTML, CSS, JavaScript, AngularJS y Node.js. Y si bien éste
                    es mi presente hubo un antes, y esque mis andanzas en el mundo laboral comienza hace ya unos años
                    donde compaginaba trabajos de dependiente y personal de cocina con mis estudios, posterior a esto
                    desempeñe mi vida laboral entre la producción mecánica, el mantenimiento industrial y las artes
                    escénicas. Lamentablemente mi inquietud por el estudio de la programación se vio frenada por mis
                    compromisos laborales y familiares hasta que a finales de 2023, una lesión en mi hombro me obligo a
                    dejar de desarrollar mi actividad laboral durante más meses de los que mi personalidad me permite
                    estarme quieto, y es así como comencé mis andaduras es este maravillosamente profundo sector que
                    cada mañana me hace sentirme sediento de conocimiento. Si has llegado hasta aquí, gracias por
                    dedicar tu tiempo a conocer mi historia. </p>

            </div>



            <div class="col-12 col-md-5 offset-md-1 foto">
                <div class="row">
                    <div class="col-6">
                        <a href="https://github.com/CristianLafu" target="_blank" class="social-link text-left github">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                    <div class="col-6  d-flex justify-content-end">
                        <a href="https://www.linkedin.com/in/tu_perfil_de_linkedin" target="_blank"
                            class="social-link text-right linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>






        </article>

    </div>

</div>