<div class="test">

    <div class="container">

        <article class=" row">

            <div class="cabecera pt-5 pb-4 col-12">

                <h1 class="pb-3 pt-5">¿Quieres contactar conmigo?</h1>

                <h5>Si buscas contactar conmigo aqui te dejo dos vías de contacto, via linkedin y via email. Sea cuál
                    sea la
                    la forma en la que te pongas en contacto conmigo procuraré responderte a la menor brevedad posible.
                </h5>

            </div>

            <a href="https://www.linkedin.com/in/cristian-lafuente-mart%C3%ADnez-20026a217/" target="_blank"
                class="foto col-12 col-md-5 text-md-left d-flex align-items-center justify-content-center mb-4"
                style="background-image: url(../../../assets/img/linkedin.jpg);">
            </a>

            <a href="mailto:cristianlafuentemar@gmail.com" target="_blank"
                class="foto col-12 col-md-5 offset-md-2 text-md-right d-flex align-items-center justify-content-center"
                style="background-image: url(../../../assets/img/email.jpg);">
            </a>

            <div style="height: 10vh;">

            </div>

        </article>

    </div>

</div>